<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<h5>회원가입</h5><br><br>
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <p>아이디</p>
    <input class="form-control" type="text" name="username">
    <br>
    <p>비밀번호</p>
    <input class="form-control" type="password" name="password">
    <br>
    <p>비밀번호 확인</p>
    <input class="form-control" type="password" name="confirm">
    <br>
    <button class="btn btn-primary btn-xl rounded-first mt-5 btn-search" type="submit">회원가입</button>
</form>
{% endblock %}